@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1605514990331'); /* IE9 */
  src: url('iconfont.eot?t=1605514990331#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABjwAAAJIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEYwE2AiQDCAsGAAQgBYRtBzEbigXInpo8qUBCikKRSrX9WAAgHr7W0Pf3NoQgAXW4QArYiNiqVpkKxcZ3PILs3NVc7n+JhF1bCslXJVJog3sJ381mS+MrdI2sqlCkGldg4Vpa13W87xP3Tv8E+iCrB5TjXjTWpEldQF0cSAHuhVGcSAll3DB2wQu8T6DWoCW9g62DYxiX2csC8SRPQxgvhGWZ5aqFyoa9WTxXoTo9Tc/As+j78YUX1SQVBbvh+N5mAisfaqeguCgv3AwIEQI6XIEC80AmzhvTh4YE44bUpoeNgmPVBh/qsgxc4qh2wf46u7oe9EPFMyk91aPmEjzWWC3AwKR3EC23n9623l65cnPXcen15fzVy/ST3c7tXnkrun945bx858adfnkz6mQJVuDPiq30HwLBC69n3p/b+Fddl8H7jyvfI1s2zEv1XjzB31AO7MmG2namrCkbB5OWszTVqkUJ+1v9TbV0nDofqnVM0FXpygyFauNkZudRoc46KlXbRq0524frtGFDItdg1jVAaHaLpNFbFJp1ZGZ/UaHTPyo1R4Fal6PtzDqT8XBynykUSjC6wjzWjXLdMhnXHlJ6VoWcV0f8KXGbx9C1nHJumxriJTa056knolCxrnELPEZVpdGwLigWKxMxA9tWTS+yYl3DpH2MhARJoMgVlItpDRUMF5OVzx8iqTOVEHd01eVPEdbKJ0cuizOA3DY0g7oe5ZnWuZRHCAUpTKuhLTCLVCoaMs2zCiQmLNmEpDFgO/3UUIO1van+uyNQy7amcKYWqu6wNhUJAAAA') format('woff2'),
  url('iconfont.woff?t=1605514990331') format('woff'),
  url('iconfont.ttf?t=1605514990331') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1605514990331#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-droplet:before {
  content: "\e76d";
}

