@font-face {
  font-family: "UniNeue";
  src: url('../static/fonts/UniNeue-Light.ttf');
}

@font-face {
  font-family: "UniNeue-HeavyItalic";
  src: url('../static/fonts/UniNeue-HeavyItalic.ttf');
}

// @font-face {
//   font-family: "ZCOOL";
//   src: url('../static/fonts/ZCOOLXiaoWei-Regular.ttf');
// }

.pc, .mobile {

  .app-bar {
    height: 56px;
    .v-toolbar__content {
      height: 56px !important;
    }
  }

  .toolbar-title {
    font-family: "UniNeue";
    font-weight: bold;
  }

  .v-footer .site-info {
    display: -webkit-box;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 45px;
    a {
      font-size: 15px;
      margin: 6px;
      cursor: pointer;
    }
    .site-item {
      text-align: center;
    }
  }

  .v-toolbar__content, .v-toolbar__extension {
    padding: 4px 16px;
  }
}

.flex-middle {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  &-between {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
}

.flex-bottom-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
}

.font-unineue {
  font-family: "UniNeue" !important;
}

