@font-face {
  font-family: "UniNeue";
  src: url('../static/fonts/UniNeue-Light.ttf');
}

@font-face {
  font-family: "UniNeue-bold";
  src: url('../static/fonts/UniNeue-HeavyItalic.ttf');
}

@font-face {
  font-family: "Pixer";
  src: url('../static//fonts/Pixer-Regular.ttf')
}

// @font-face {
//   font-family: "ZCOOL";
//   src: url('../static/fonts/ZCOOLXiaoWei-Regular.ttf');
// }

.pc, .mobile {

  .app-bar {
    height: 56px;
    .v-toolbar__content {
      height: 56px !important;
    }
  }

  .toolbar-title {
    font-family: "UniNeue";
    font-weight: bold;
  }

  .v-footer .site-info {
    display: -webkit-box;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 45px;
    a {
      font-size: 15px;
      margin: 6px;
      cursor: pointer;
    }
    .site-item {
      text-align: center;
    }
  }

  .v-toolbar__content, .v-toolbar__extension {
    padding: 4px 16px;
  }

  .v-pagination {
    padding: 8px 0;
    li > button {
      height: 24px;
      width: 24px;
      i.v-icon {
        font-size: 18px;
        font-size: 1.125rem;
      }
      &.v-pagination__item {
        font-size: 14px;
        font-size: 0.875rem;
      }
    }
  }
}

.flex-middle {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  &-between {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
}

.flex-bottom-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
}

.font-unineue {
  font-family: "UniNeue" !important;
}

.font-unineue-bold {
  font-family: "UniNeue-bold" !important;
}

.font-pixer {
  font-family: "Pixer" !important;
  font-size: 16px;
}
